<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="'/'" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>дата</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, necessitatibus.</p>
  </div>
</div>
